# Python venv
.venv/

# Environment variables
.env

# __pycache__ folders
__pycache__/

# VS Code settings
.vscode/

# Bytecode
*.pyc
app/chroma_db/

# macOS
.DS_Store

# Test, build, and coverage artifacts
htmlcov/
.coverage
*.log

# Node.js (if you use npm/yarn in frontend)
node_modules/
frontend/node_modules/

# General OS
Thumbs.db
